{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex h-screen overflow-hidden">
        {# Sidebar gauche #}
        {% include 'components/sidebar.html.twig' %}

        {# Contenu principal avec marge pour la sidebar fixe #}
        <div class="flex-1 flex flex-col overflow-hidden ml-0 md:ml-64">
            {# Header #}
            {% include 'components/header.html.twig' %}

            {# Contenu de la page #}
            <main class="flex-1 overflow-y-auto bg-light-blue p-6">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}